:root {
  --light-grey: rgba(128, 128, 128, 0.24);
}

button#btnNewTask {
  background: transparent;
  border: none;
  box-shadow: none !important;
  color: var(--blue);
  position: absolute;
  right: 0;
  height: 45px;
  margin-right: 16px !important;
}

button#btnNewTask:hover {
  background: rgba(128, 128, 128, 0.24);
}

form.task {
  padding: 5% 10% !important;
}

form.task.no-edit .form-control{
  border: none !important;
}

form.task .form-control {
  border: 1px solid var(--light-grey);
}

form.task .form-control:hover {
  border: 1px solid rgba(63, 62, 62, 0.74);
}

form.task .form-control:focus {
  border: 1px solid var(--blue);
  box-shadow: none !important;
}

form.form-inline {
  padding: 8px !important;
}

div.card-header {
  height: 70px !important;
  font-weight: bold;
  font-size: 30px;
}

.mr-sm {
  margin-right: 8px !important;
}

.ml-sm {
  margin-left: 8px !important;
}

.completed {
  color: white;
  border-radius: 50%;
  background: var(--green);
  padding: 2px;
}

.uncompleted {
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 50%;
  padding: 2px;
}

.btn-action {
  border: none !important;
}

.min-width {
  width: 1px !important;
}

.btn-grey {
  background: var(--light-grey) !important;
  color: black !important;
  border: none !important;
}

.btn-grey:hover {
  background: var(--secondary) !important;
}

#titleRequired {
  color: var(--red) !important;
  margin-left: 5%;
}

label {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

table, th, td {
  border-left: none !important;
  border-right: none !important;
}
