button#btnNewTask {
  background: transparent;
  border: none;
  color: #007bff;
  position: absolute;
  right: 0;
  height: 38px;
  margin-right: 16px !important;
}

button#btnNewTask:hover {
  background: rgba(128, 128, 128, 0.24);
}

.task {
  padding: 5% 10% !important;
}

.task.no-edit .form-control {
  border: none !important;
}

.task .form-control, #filterDate {
  border: 1px solid rgba(128, 128, 128, 0.24);;
}

.task .form-control:hover, #filterDate:hover {
  border: 1px solid rgba(63, 62, 62, 0.74);
}

.task .form-control:focus, #filterDate:focus {
  border: 1px solid #007bff;
  box-shadow: none !important;
}

div.card-header {
  height: 70px !important;
  font-weight: bold;
  font-size: 30px;
}

.mr-sm {
  margin-right: 8px !important;
}

.ml-sm {
  margin-left: 8px !important;
}

.completed {
  color: white;
  border-radius: 50%;
  background: #28a745;
  padding: 2px;
}

.uncompleted {
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 50%;
  padding: 2px;
}

.btn-action {
  border: none !important;
}

.min-width {
  width: 1px !important;
}

.btn-grey {
  background: rgba(128, 128, 128, 0.24) !important;
  color: black !important;
  border: none !important;
}

.btn-grey:hover {
  background: #6c757d !important;
}

#titleRequired {
  color: #dc3545 !important;
  margin-left: 5%;
}

label {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

table, th, td {
  border-left: none !important;
  border-right: none !important;
}

td.no-data {
  color: #dc3545;
  text-align: center;
}

.react-datepicker__input-container {
  min-width: 150px;
  max-width: 200px;
  right: 0;
  position: absolute !important;
  margin-right: 140px;
}

.react-datepicker-wrapper {
  display: block !important;
}
.container {
  margin: 0 !important;
  padding-bottom: 20px;
}

.bold {
  font-weight: bold;
}

@media (max-width: 576px) {
  #taskActions {
    padding-bottom: 20px;
  }
  .container {
    max-width: 100%!important;
  }
.react-datepicker__input-container {
    right: unset !important;
  }
  
  button#btnNewTask {
    right: unset;
    margin-left: 216px;
  }
  .min-table {
    display: none;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%!important;
  }
}

button {
  box-shadow: none !important;
}

.view-only .modal-dialog {
  position: fixed;
  right: 0;
  min-width: 300px;
}

body {
  min-width: 360px;
}
