button#btnNewTask {
  position: absolute;
  right: 0;
  height: 45px;
  margin-right: 16px !important;
}

button#filter {
  position: absolute;
  right: 0;
  margin-right: 16px !important;
}

input#filterDate {
  padding-left: 8px;
}

form.task {
  padding: 16px !important;
}

form.form-inline {
  padding: 8px !important;
}

div.card-header {
  height: 70px !important;
  font-weight: bold;
  font-size: 30px;
}

.mr-sm {
  margin-right: 8px !important;
}

.ml-sm {
  margin-left: 8px !important;
}

.completed {
  color: #28a745;
}

.uncompleted {
  color: #dc3545;
}

.btn-action {
  border: none !important;
}

.min-width {
  width: 1px !important;
}
